<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheraSpace</title>
  <link rel="icon" href="img/logo-removebg-preview.png">
  <link rel="stylesheet" href="design.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <style>
    html{
      scroll-behavior: smooth;
    }

    .active{
      color: black;
    }

    .preloader{
      background: white url(img/preloader.gif) no-repeat center;
      background-size: cover;
      height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    .custom-bg {
            background-image: url('path/to/your/image.jpg');
            background-size: 100%; /* Adjust the size as needed */
            background-position: center;
            background-repeat: no-repeat;
    }
    
    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
    }
    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>


</head>
<body class="font-mono box-border">
  <!-- PRE LOADER -->
  <!-- <div class="preloader"></div> -->
  <!-- NAV SECTION -->
    <nav class="bg-orange-500 p-5 md:px-16 md:flex md:items-center md:justify-between fixed top-0 left-0 w-full z-50">
      <div class="flex justify-between items-center">
        <span class="text-xl cursor-pointer text-white">
          <a href="#main"><img id="logo" class="h-10 inline mr-4 md:tracking-widest text-white" src="img/logo-removebg-preview.png" alt="">THERASPACE</a>
        </span>
        <span class="text-3xl cursor-pointer mx-2 md:hidden block">
          <ion-icon class="nav-icon" name="menu" onclick="Menu(this)" style="color: white;"></ion-icon>        
        </span>
      </div>
      <ul class="md:flex md:items-center md:z-auto md:static absolute bg-orange-500 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-4 my-6 md:my-0">
          <a href="#main" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links active">HOME</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#services" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links">SERVICES</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#activities" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links">ACTIVITIES</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#about" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links">ABOUT</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#teachers" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links">TEACHERS</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#contact" class="text-xl text-white cursor-pointer hover:text-black duration-500 nav_links">CONTACT</a>
        </li>
        <a href="login" target="_blank">
          <button class="bg-white text text-orange-500 px-6 py-2 mx-4 cursor-pointer rounded-lg border hover:bg-orange-500 hover:text-white hover:border-white duration-500">Log In</button>
        </a>
      </ul>
    </nav>
  <!-- MAIN SECTION -->
  <section class="max-w-4xl mx-auto min-h-screen flex justify-center items-center mt-4 md:mt-0" id="main">
    <div class="flex flex-col-reverse justify-center md:flex-row md:mb-0 p-6 items-center gap-4">
      <article class="md:w-1/2 flex flex-col items-center md:items-start">
        <h2 class="text-4xl font-bold text-center md:text-5xl md:text-left ">Learning and Development Center</h2>
        <h2 class="text-center mt-8 md:text-left"><i>"All are included, All can learn"</i></h2>
        <a href="#about"><button class="bg-orange-500 text-white py-2 px-8 rounded-lg mt-8 md:mt-8 flex items-center">Learn More<ion-icon name="chevron-forward-outline" class="ml-14 text-2xl text-orange-500 bg-white rounded-md "></ion-icon></button></a>
        <div class="flex justify-center items-center mt-4 gap-2">
          <a href="https://www.facebook.com/theraspace.ldc" target="_blank"><ion-icon name="logo-facebook" class="text-4xl"></ion-icon></a>
          <a href=""><ion-icon name="logo-instagram" class="text-4xl"></ion-icon></a>
        </div>
      </article>
      <article class="w-52 md:w-1/2">
        <img src="img/Designer.png" alt="">
      </article>
    </div>
  </section>
   
  <!--  -->
  <div class="bg-orange-500">
    <section class="max-w-4xl mx-auto flex flex-col justify-center md:flex-row gap-4 items-center text-center">
        <article class="border-2 border-white m-4 p-12 w-72 h-48 flex flex-col justify-center items-center">
          <ion-icon name="person-circle-outline" class="text-white text-4xl"></ion-icon>
            <h1 class="text-white text-4xl">3</h1>
            <h2 class="text-white">Teachers At Work</h2>
        </article>
        <article class="border-2 border-white m-4 p-12 w-72 h-48 flex flex-col justify-center items-center">
            <ion-icon name="people-outline" class="text-white text-4xl"></ion-icon>
            <h1 class="text-white text-4xl">100+</h1>
            <h2 class="text-white">Happy Clients</h2>
        </article>
        <article class="border-2 border-white m-4 p-12 w-72 h-48 flex flex-col justify-center items-center">
            <ion-icon name="people-outline" class="text-white text-4xl"></ion-icon>
            <h1 class="text-white text-4xl">100+</h1>
            <h2 class="text-white">Rooms</h2>
        </article>
    </section>
  </div>


  <!-- SERVICES SECTION -->
  <section class="max-w-4xl mx-auto container min-h-screen py-32" id="services">
    <h1 class="text-4xl text-center text-black mb-2">OUR <span class="font-extrabold text-orange-500">SERVICES</span></h1>
    <div class="flex flex-col md:flex-row justify-center gap-4 items-center text-center">
      <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 p-4 flex flex-col justify-center text-left rounded-lg mb-10">
        <img src="img/image.png" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">        
        <h1 class="text-black text-2xl font-bold text-center">Academic Tutorial</h1>
        
       
      </article>
      <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 p-4 flex flex-col justify-center text-left rounded-lg mb-10">
        <img src="img/speak.jpeg" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">
        <h1 class="text-black text-2xl font-bold text-center">Speech Enchancement</h1>
        
       
      </article>
      <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 p-4 flex flex-col justify-center text-left rounded-lg mb-10">
        <img src="img/early intervention.jpeg" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">
        <h1 class="text-black text-2xl font-bold text-center">Early Intervention</h1>
        
       
      </article>
    </div>
    
    <div class="flex flex-col md:flex-row justify-center gap-4 items-center text-center">
      <article class="md:w-72 md:h-72 border-2 bg- border-orange-500 m-4 p-4 flex flex-col text-center rounded-lg mb-10" >
        <img src="img/behav.jpeg" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">
        <h1 class="text-black text-2xl font-bold text-center">Behavioral Therapy</h1>
        
      </article>

      <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 p-4 flex flex-col justify-center text-left rounded-lg mb-10">
        <img src="img/Designer.jpeg" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">
        <h1 class="text-black text-2xl font-bold text-center">SPED Tutorial</h1>
        
       
      </article>
      <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 p-4 flex flex-col justify-center text-left rounded-lg mb-10">
        <img src="img/shadow.jpeg" alt="Academic Tutorial" class="object-cover w-full h-full overflow-hidden">
        <h1 class="text-black text-2xl font-bold text-center">Shadow Teaching</h1>
        
       
      </article>
    </div>
  </section>
  <!--  -->
  <div class="bg-orange-500">
    <section class="max-w-4xl mx-auto flex flex-col justify-center md:flex-row gap-4 items-center text-center">
      <div class="flex flex-col md:flex-row justify-center gap-4 items-center text-center">
        <article class="md:w-60 md:h-60 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
          <div class="md:w-72 md:h-72 overflow-hidden flex items-center justify-center">
            <img src="img/img1.png" class="object-cover w-full h-full" alt="">
          </div>
        </article>
        <article class="md:w-60 md:h-60 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
          <div class="md:w-72 md:h-72 overflow-hidden flex items-center justify-center">
            <img src="img/img2.jpg" class="object-cover w-full h-full" alt="">
          </div>
        </article>
        <article class="md:w-60 md:h-60 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
          <div class="md:w-72 md:h-72 overflow-hidden flex items-center justify-center">
            <img src="img/img3.jpg" class="object-cover w-full h-full" alt="">
          </div>
        </article>
      </div>
    </section>
  </div>    

  <!--  ACTIVITIES SECTION -->
  <section class="min-h-screen py-32" id="activities">
    <h1 class="text-4xl text-center text-black mb-2">OUR <span class="font-extrabold text-orange-500">ACTIVITIES</span></h1>
    <div>
      <div class="md:mt-20 gap-4 items-center text-center p-2">
        <div class="flex flex-col md:flex-row justify-center gap-2 items-center text-center p-2 md:p-0">
          <div class="w-full md:w-1/2 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <article class="iframe-container rounded-lg">
              <iframe src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2Ftheraspace.ldc%2Fvideos%2F234923096092593%2F&show_text=false&width=560&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </article>
          </div>
          
          <div class="w-full md:w-1/2 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <article class="iframe-container rounded-lg">
              <iframe src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2Ftheraspace.ldc%2Fvideos%2F1626082467928888%2F&show_text=false&width=560&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </article>
          </div>
        </div>
  
        <div class="flex flex-col md:flex-row justify-center gap-2 items-center text-center p-2 md:p-0">
          <div class="w-full md:w-1/2 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <article class="iframe-container rounded-lg">
              <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ftheraspace.ldc%2Fvideos%2F1476663426528513%2F&show_text=false&width=560&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </article>
          </div>
          
          <div class="w-full md:w-1/2 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <article class="iframe-container rounded-lg">
              <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Ftheraspace.ldc%2Fvideos%2F1589802468215221%2F&show_text=false&width=476&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- ABOUT SECTION -->
  <section class="max-w-4xl mx-auto container min-h-screen py-32" id="about">
    <h1 class="text-4xl text-center text-black mb-2">About <span class="font-extrabold text-orange-500">Us</span></h1>
    <div class="flex flex-col-reverse justify-center md:flex-row gap-8 items-center text-center md:mt-20">
      <article class="md:w-1/2 flex justify-center">
        <img class="w-90" src="img/thera bg.png" alt="">
      </article>
      <article class="md:w-1/2">
        <p class="text-justify w-full">
          <span class="pl-10">
              Welcome to <span class="font-bold">TheraSpace Center</span>, where our mission is to deliver high-quality, effective interventions for children with special needs. 
              We are dedicated to creating a nurturing and supportive environment that empowers each child to reach their full potential.
          </span>
          <br><br>
          <span class="pl-10">
              At TheraSpace Center, we understand the unique challenges faced by children with special needs and their families. 
              Our team of skilled professional teachers, and support staff work collaboratively to provide tailored interventions that 
              address the individual needs of each child. Our services encompass a wide range of therapeutic practices designed to enhance 
              developmental, cognitive, and social skills.
          </span>
      </p>
      
      </article>
    </div>
  </section>
  
  <!-- TEACHERS SECTION -->
  <section class="max-w-4xl mx-auto container min-h-screen py-32" id="teachers">
    <h1 class="text-4xl text-center text-black mb-12">Our <span class="font-extrabold text-orange-500">Teachers</span></h1>
    <div class="flex flex-col md:flex-row justify-center gap-4 items-center text-center">
        <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <div class="w-full h-full overflow-hidden flex items-center justify-center">
                <img src="img/teacher_nan-removebg-preview.png" class="object-cover w-full h-full rounded-lg" alt="Nancy Obequitos">
            </div>
            <h2 class="text-center p-2">Nancy Llan</h2>
        </article>
        <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <div class="w-full h-full overflow-hidden flex items-center justify-center">
                <img src="img/t_carol-removebg-preview-removebg-preview.png" class="object-cover w-full h-full rounded-lg" alt="Teacher">
            </div>
            <h2 class="text-center p-2">Carol Ablaneda </h2>
        </article>
        <article class="md:w-72 md:h-72 border-2 border-orange-500 m-4 flex flex-col items-center rounded-lg">
            <div class="w-full h-full overflow-hidden flex items-center justify-center">
                <img src="img/carla-removebg-preview.png" class="object-cover w-full h-full rounded-lg" alt="Carla">
            </div>
            <h2 class="text-center p-2">Carla Gacilla</h2>
        </article>
    </div>
</section>


  <!-- CONTACT SECTION -->
  <section class="max-w-4xl mx-auto container min-h-screen py-32" id="contact">
    <h1 class="text-4xl text-center text-black mb-2">Contact<span class="font-extrabold text-orange-500"> Us</span></h1>
      <h2 class="text-center text-[26px] mt-10 mb-10 flex justify-center items-center gap-3">We  
        <ion-icon class="text-orange-500 text-4xl" name="heart-outline"></ion-icon> 
        to Hear You</h2>
   <div class="md:flex gap-16 m-4 md:m-0">
    <div class="md:w-1/2">
      <input type="text" id="subject" value="Feedback" placeholder="Feedback" class="border border-orange-500 p-2 rounded-lg w-full mb-3"><br>

      <input type="text" id="email" placeholder="Email" class="border border-orange-500 p-2 rounded-lg w-full my-3"><br>
      
      <textarea id="msg" rows="5"  placeholder="Message" class="border border-orange-500 p-2 rounded-lg w-full my-3"></textarea>
      <div class="mx-4 flex justify-center mb-12 md:mb-0">
        <button id="emailsend" class="bg-orange-500 text-white py-2 px-8 rounded-lg  flex items-center">Send<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal ml-3"><path d="m3 3 3 9-3 9 19-9Z"/><path d="M6 12h16"/></svg></button>
      </div>
    </div class="md:w-1/2">

      <div class="md:w-1/2">
        <h5 class="ml-4 flex justify-start mb-8 gap-24"><ion-icon name="location-outline" class="flex justify-center text-[24px]"></ion-icon>Lag on Daet</h5>

        <h5 class="ml-4 flex justify-start mb-8 gap-24 "><ion-icon name="call-outline" class="flex justify-center text-[24px]"></ion-icon> 099357897</h5>

        <h5 class="ml-4 flex justify-start mb-8 gap-16"><ion-icon name="mail-outline" class="flex justify-center text-[24px]"></ion-icon> Theraspace@gmail.com</h5>
        <div>
        <hr class="border-t-4 border-orange-500 w-full">
        <div class="flex justify-center mt-4 gap-3 text-4xl">
         <a href="https://www.facebook.com/theraspace.ldc" target="_blank"><ion-icon name="logo-facebook" ></ion-icon></a>
         <a href="mailto:theraspace.business@gmail.com"><ion-icon name="mail-outline"></ion-icon></a>


        </div>
      </div>

    </div>

    <div>

    </div>

   </div>
  </section>
  
  <!-- FOOTER -->
  <div class="bg-orange-500">
    <h1 class="text-white">DAKS KAMI! OH SHIIIIIIIIIT!</h1>
    <h1 class="text-white">ANAKAN MO KO ISAAC!</h1>
  </div>
  <!--  -->
</body>
<script src="index.js"></script>
<script src="fetching.js"></script>
</html>
